<div class="row p-5">
    <div class="col-md-12 d-grid gap-2 d-md-flex justify-content-md-center">
        <h1>
            Welcome to the Redipoll!
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6" style="border-right: 1px solid rgba(255, 255, 255, .1);padding-inline: 50px !important;">
        <h1>Create RediPoll</h1>
        <div class="input-group-lg mt-4 mb-3">
            <input type="text" class="form-control" placeholder="Poll Title">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">A</span>
            <input type="text" class="form-control" placeholder="Option" aria-label="Option">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">B</span>
            <input type="text" class="form-control" placeholder="Option" aria-label="Option">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">C</span>
            <input type="text" class="form-control" placeholder="Option" aria-label="Option">
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-outline-info">Add Option</button>
            <button class="btn btn-outline-light">Start</button>
        </div>
    </div>

    <div class="col-md-6" style="padding-inline: 50px;">
        <h1>Join RediPoll</h1>
        <div class="input-group mt-4 pin">
            <input type="text" class="form-control" placeholder="X" maxlength="1">
            <input type="text" class="form-control" placeholder="X" maxlength="1">
            <input type="text" class="form-control" placeholder="X" maxlength="1">
            <input type="text" class="form-control" placeholder="X" maxlength="1">
            <input type="text" class="form-control" placeholder="X" maxlength="1">
            <input type="text" class="form-control" placeholder="X" maxlength="1">
            <button class="btn btn-lg btn-outline-light" type="button">Join</button>
        </div>
    </div>
</div>