<div class="row p-5">
    <div class="col-md-12 d-grid gap-2 d-md-flex justify-content-md-center">
        <h1>
            Welcome to the Redipoll!
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6" style="border-right: 1px solid rgba(255, 255, 255, .1);padding-inline: 50px !important;">
        <h1>Create RediPoll</h1>
        <div class="input-group-lg mt-4 mb-3">
            <input type="text" class="form-control" placeholder="Poll Title">
        </div>
        <!-- <hr> -->
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">A</span>
            <input type="text" class="form-control" placeholder="Option" aria-label="Option">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">B</span>
            <input type="text" class="form-control" placeholder="Option" aria-label="Option">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">C</span>
            <input type="text" class="form-control" placeholder="Option" aria-label="Option">
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-outline-info">Add Option</button>
            <button class="btn btn-outline-light">Start</button>
        </div>

    </div>
    <div class="col-md-6" style="padding-inline: 50px;">

        <h1>Join RediPoll</h1>
        <div class="input-group mt-4 pin">
            <input type="text" class="form-control" placeholder="X" maxlength="1">
            <input type="text" class="form-control" placeholder="X" maxlength="1">
            <input type="text" class="form-control" placeholder="X" maxlength="1">
            <input type="text" class="form-control" placeholder="X" maxlength="1">
            <input type="text" class="form-control" placeholder="X" maxlength="1">
            <input type="text" class="form-control" placeholder="X" maxlength="1">
            <button class="btn btn-lg btn-outline-light" type="button">Join</button>
        </div>
    </div>
</div>



<!-- <div class="card" style="opacity: 0.8;">
                <h2 class="card-header">Poll title</h2>
                <div class="card-body">
                    <p class="card-text">Welcome to the home page!</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Default radio
                        </label>
                      </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          Default checked radio
                        </label>
                      </div>
                    <div class="card-footer">
                        <button class="btn btn-primary float-right">Submit</button>
                    </div>
                </div>
            </div> -->